.universitygameprojects-body
{
    display: flex;
    flex-direction: column;
}
.game-title
{
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
}
.game-text
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}

.game-element-div
{   
    /*height doesnt get affected, prolly in awesome slider's code*/
    margin:auto;
    text-align: center;
}

.image-slider
{
    margin:auto;
    height:45em;
    width:40em;
}

.image-single
{
aspect-ratio: 1;
    width: 100%;
    object-fit:fill;
}
