.universitygameprojects-body
{
    display: flex;
    flex-direction: column;
}
.game-header
{
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
}
.game-text
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}

.game-element-div
{   
    /*height doesnt get affected, prolly in awesome slider's code*/
    margin:auto;
    text-align: center;
}

.image-slider
{
    margin:auto;
    width:50em;
}

.image-single
{
    width:100%;
    height: 100%;
    object-fit:contain;
}
