.homepage-root
{
text-align: center;
}

.homepage-name
{

    font-style: italic;
    font-weight:bold ;
    font-size: 2em;
    transition: font-size 0.5s ;
}

.homepage-name:hover
{
    font-size: 2.2em;
}

.homepage-intro
{
    margin-top: 1em;
    margin-bottom: 1em;
}