.aboutme-body
{
    
}

@keyframes linkedin-button-kf {
    from {
transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.linkedin-button
{



    
}

.linkedin-button:hover
{
cursor: pointer;
    animation: linkedin-button-kf 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

