.collapsible-content{

  animation: collapsibleAnim 0.1s;
  animation-fill-mode: both;
  overflow: hidden;
transition:height 0.2s;

}
.collapsible-title{
  padding:0.2em;
transition: background-color 0.2s;
}

.collapsible-title:hover{
border-radius: 10%;
background-color: rgba(128, 128, 128, 0.278);
 cursor: pointer ;
 
}

